[submodule "ProjSO"]
	path = ProjSO
	url = git@github.com:Pedro-CAB/ProjSO.git
[submodule "Projects/SO-Project"]
	path = Projects/SO-Project
	url = git@github.com:pedronunomacedo/SO-Project.git
[submodule "Projects/1st_project"]
	path = Projects/1st_project
	url = git@github.com:pedronunomacedo/SO-Project.git
